header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .hbnbLogo {
    margin-left: 20px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 60px;
}
